<subject>
Update on your match request
</subject>

<body>
Dear <data>, 

We are writing to let you know that we are still working on finding study partners for the class you requested: <data>. We’ll be in touch soon with an update! In the meantime, the LSC website (http://lsc.cornell.edu/) offers lots of information about general study skills, learning effectively, and tutoring. 
</body>