<subject>
Follow-up: Update on your match request
</subject>

<body>
Dear <data>, 

We are writing to follow up and let you know that unfortunately we have not been successful, so far, in finding study partners for the class(es) you requested. We’ll be in touch again if another student requests study partners for your class(es). In the meantime, the LSC website (http://lsc.cornell.edu/) offers lots of information about general study skills, learning effectively, and tutoring. 
</body>